/* Track */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, 0.794); /* Color of the scrollbar handle on hover */

    /* Color of the scrollbar handle */
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #585858;

}




/* SLIDER */
/*Section 3 Image Slider*/
.glide__slide img {
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    border-radius: 22px;
    width:95%; /* Make the image fill the width of its container */
    max-width: 1000px; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain aspect ratio */
    max-height: 600px;
    transition-duration: 0.3s;
    margin-bottom: 300px;
}
.glide__slide img:hover{
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.1);

    transform: rotate(1deg);
    scale: 1.05;

}
.glide__slides {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.glide__slide {
    text-align: center;
}