<h1>Liste des étudiants</h1>
<ul>
    <li *ngFor="let et of etudiants;index as i; count as cpt">
        <strong>Etudiant num {{i+1}}/ {{cpt}}</strong>
        <img [src]="et.photo" alt="photo">
        <span>{{et.prenom }} </span>
        <span>{{et.nom | uppercase}} </span>
        -<span> {{et.option}} </span>
   
        -<span> Date de naissance: {{et.dateNaissance | date:'dd/MM/yyyy'}}</span>
        <strong *ngIf="et.moyenne>=10"> Moyenne: {{et.moyenne}} </strong>
        <button (click)="afficherInfos(i)">Infos</button>
    </li>
</ul>
<div *ngIf="afficher">
    {{infos}}
    <button (click)="afficher=false">Fermer</button>
</div>
